<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-title>Perfil</ion-title>
      </ion-col>
      <ion-col></ion-col>
      <ion-col  class="right"><a (click)="settings()"><ion-icon name="settings-outline"></ion-icon></a></ion-col>
    </ion-row>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-img src="../../assets/img/user.png" alt="user"></ion-img>
    </ion-row>

    <ion-row>
      User
    </ion-row>

  </ion-grid>

</ion-content>
