<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-title class="title">Categorias</ion-title>
      </ion-col>

      <ion-col class="right"><a (click)="search()"><ion-icon name="search-outline"></ion-icon></a></ion-col>
    </ion-row>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row class="categories-row">
      <ion-col class="categories">
        <a (click)="action()">
          <ion-img src="../../assets/img/action-figure.png" alt="action"></ion-img>

        </a>
      </ion-col>
      <ion-col class="categories" >
        <a (click)="science()">
          <ion-img src="../../assets/img/atom.png" alt="science" ></ion-img>

        </a>
      </ion-col>
    </ion-row>

    <ion-row class="categories-row">
      <ion-col class="categories">
        <a (click)="comedy()">
          <ion-img src="../../assets/img/comedy.png" alt="comedy"></ion-img>

        </a>
      </ion-col>
      <ion-col class="categories">
        <a (click)="fantasy()">
          <ion-img src="../../assets/img/spell-book.png" alt="fantasy"></ion-img>

          </a>
      </ion-col>
    </ion-row>

    <ion-row class="categories-row">
      <ion-col class="categories">
          <a (click)="fiction()">
            <ion-img src="../../assets/img/science-fiction.png" alt="fiction"></ion-img>

          </a>
      </ion-col>
      <ion-col class="categories" >
        <a (click)="mystery()">
          <ion-img src="../../assets/img/annonymous.png" alt="mystery"></ion-img>

        </a>
      </ion-col>
    </ion-row>

    <ion-row class="categories-row">
      <ion-col class="categories">
        <a (click)="romance()">
          <ion-img src="../../assets/img/romance.png" alt="romance"></ion-img>

        </a>
      </ion-col>

      <ion-col class="categories" >
        <a (click)="horror()">
          <ion-img src="../../assets/img/ghost.png" alt="horror"></ion-img>

        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
