<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input [(ngModel)]="query" placeholder="Buscar livro ou autor"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="loadBooks()">Pesquisar</ion-button>

  <ion-list>
    <ion-item *ngFor="let book of books" (click)="openBookDetail(book.id)">
      <ion-thumbnail slot="start">
        <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Capa do livro">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.volumeInfo.title }}</h2>
        <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="categoryBooks['fiction'] && categoryBooks['fiction'].length > 0" >
    <ion-item-divider>
      <ion-label>Fiction</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let book of categoryBooks['fiction']" (click)="openBookDetail(book.id)">
      <ion-thumbnail slot="start">
        <img [src]="book.volumeInfo.imageLinks?.thumbnail" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.volumeInfo.title }}</h2>
        <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Faixa de Categoria Science -->
  <ion-list *ngIf="categoryBooks['science'] && categoryBooks['science'].length > 0">
    <ion-item-divider>
      <ion-label>Science</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let book of categoryBooks['science']" (click)="openBookDetail(book.id)">
      <ion-thumbnail slot="start">
        <img [src]="book.volumeInfo.imageLinks?.thumbnail" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.volumeInfo.title }}</h2>
        <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>
