<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col>
        <ion-title class="title">Descobrir</ion-title>
      </ion-col>
      <ion-col class="right"><a (click)="search()"><ion-icon name="search-outline"></ion-icon></a></ion-col>
    </ion-row>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-img src="../../assets/img/banner.png"></ion-img>

  <ion-item-divider class="carousel-title">
    <ion-label>Destaques</ion-label>
  </ion-item-divider>

  <div class="carousel-wrapper">
    <div class="carousel-container" #carousel>
      <div class="carousel-slide" *ngFor="let book of books" (click)="openBookDetail(book.id)">
        <ion-card>
          <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Capa do livro">
          <ion-card-header>
            <ion-card-title>{{ book.volumeInfo.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>

  <ion-item-divider class="carousel-title">
    <ion-label>Lançamentos Recentes</ion-label>
  </ion-item-divider>


  <div class="carousel-wrapper">
    <div class="carousel-container" #newReleasesCarousel>
      <div class="carousel-slide" *ngFor="let book of newReleases" (click)="openBookDetail(book.id)">
        <ion-card>
          <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Capa do livro">
          <ion-card-header>
            <ion-card-title>{{ book.volumeInfo.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </div>
