<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let book of books" (click)="openBookDetail(book.id)">
      <ion-thumbnail slot="start">
        <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Capa do livro">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.volumeInfo.title }}</h2>
        <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
