
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <a (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon>
        </a>
      </ion-col>
    </ion-row>

    <ion-row>
      <p>Login</p>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-input  placeholder="Usuário" type="text"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

          <ion-input  placeholder="Senha" type="password"></ion-input>

      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="login()">Login</ion-button>
      </ion-col>
    </ion-row>


    <ion-grid>
      <ion-row id="container">
        <ion-col>
          <ion-img src="../../assets/img/img.png" alt="logo" width="10%"></ion-img>
        </ion-col>
      </ion-row>
      </ion-grid>
</ion-content>
