
<ion-content [fullscreen]="true">
  <form (submit)="login()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <a (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon>
        </a>
      </ion-col>
    </ion-row>

    <ion-row>
      <p>Login</p>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-input  placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <ion-input  placeholder="Senha" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-row>
      <ion-col>
        <ion-button expand="full" type="submit">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>

    <ion-grid>
      <ion-row id="container">
        <ion-col>
          <ion-img src="../../assets/img/img.png" alt="logo" width="10%"></ion-img>
        </ion-col>
      </ion-row>
      </ion-grid>
</ion-content>
