<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-col><a (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon>
      </a></ion-col>

     <ion-col class="text">
      <ion-title class="title">Fantasia</ion-title>
     </ion-col>

     <ion-col></ion-col>

    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="categoryBooks['fantasy'] && categoryBooks['fantasy'].length > 0" >
    <ion-item *ngFor="let book of categoryBooks['fantasy']" (click)="openBookDetail(book.id)">
      <ion-thumbnail slot="start">
        <img [src]="book.volumeInfo.imageLinks?.thumbnail" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.volumeInfo.title }}</h2>
        <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
