<ion-header [translucent]="true">

<ion-toolbar>
  <ion-row>
    <ion-col><a (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon>
    </a></ion-col>

    <ion-col class="search">
      <ion-input [(ngModel)]="query" placeholder="Buscar livro ou autor"></ion-input>
      </ion-col>

      <ion-col class="right">
        <a (click)="loadBooks()"><ion-icon name="search-outline"></ion-icon></a>
      </ion-col>
  </ion-row>
</ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let book of books" (click)="openBookDetail(book.id)">
      <ion-thumbnail slot="start">
        <img [src]="book.volumeInfo.imageLinks?.thumbnail" alt="Capa do livro">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ book.volumeInfo.title }}</h2>
        <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
