<ion-header [translucent]="true">
  <ion-item>
    <a (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon>
    </a>
    <ion-title class="title">Configurações</ion-title>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">

  <a (click)="changeemail()">
  <ion-item  class="settings">
    Alterar e-mail
  </ion-item>
</a>


  <a  (click)="changepass()">
  <ion-item class="settings">

      Alterar senha

  </ion-item>

</a>

  <a   (click)="logout()">
 <ion-item class="settings">
  Sair
</ion-item>
</a>



</ion-content>
